.about-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 0;
  background: #121212;
  color: white;
  height: 100vh;
}

.about-section .about-content {
  flex: 1;
  padding: 8px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.about-content h2 {
  font-size: 35px;
  font-weight: bold;
}

.about-content p {
  font-size: 20px;
  line-height: 1.6;
}

.about-btn {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  padding: 1em 2.7em;
  text-decoration: none;
  color: white;
  background: #0ce66e;
  transition: 1s;
  border: none;
  cursor: pointer;
  width: 25%;
}

.about-content h2 span {
  color: #0ce66e;
}
