nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  background: linear-gradient(135deg, #1a1a1a 0%, #0e0e0e 100%);
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.header-nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.header-nav-links li {
  position: relative;
  padding: 40px 12px;
  transition: all 0.3s ease;
}

.header-nav-links li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.05);
}

.header-nav-links li a {
  display: block;
  color: #c8c6c6;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.3s ease;
}

.header-nav-links li a:hover {
  color: #08d665;
  transition: color 0.3s ease-in-out;
}

.header-nav-links li:hover {
  color: #08d665;
  cursor: pointer;
}

.header-nav-links li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #08d665;
  transition: all 0.3s ease-in-out;
}

.header-nav-links li:hover::after {
  width: 100%;
}

.dropdown-menu {
  display: none;
  list-style: none;
  position: absolute;
  top: calc(100%);
  left: 0;
  background: linear-gradient(65deg, #2b2b2b 0%, #191919 100%);
  min-width: 250px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a {
  padding: 10px 15px;
  color: #c8c6c6;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #08d665;
  border-radius: 5px;
  color: white;
  transform: translateX(10px);
  transition: all 0.3s ease-in-out;
}

.dropdown-menu li a:hover::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #08d665;
  transition: width 0.3s ease-in-out;
}

.dropdown div {
  display: flex;
}

.dropdown svg {
  color: #c8c6c6;
  width: 20px;
  font-weight: 500;
}

.dropdown svg:hover {
  color: #08d665;
  rotate: 180deg;
  transition: rotate 0.3s ease;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 100%;
  padding: 0;
  cursor: pointer;
}

.logo {
  font-size: 3.5rem;
  font-weight: 700;
  color: #08d665;
  transition: transform 0.3s ease;
}

.navbar-btn {
  background-color: #08d665;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  height: 48px;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.navbar-btn:after {
  background-color: white;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  z-index: -1;
  transform: translate(8px, 8px);
  transition: transform 0.3s ease;
}

.navbar-btn:hover:after {
  transform: translate(0, 0);
}

.navbar-btn:active {
  background-color: #0ce66e;
  outline: 0;
}

.navbar-btn:hover {
  outline: 0;
}
