/* media queries for medium-size screens (iPad, Samsung Tabs, etc) */
  @media screen and (min-width: 600px) and (max-width: 1200px) {
    .hero {
      padding: 0.5rem 5rem;
    }

    .hero h1 {
      font-size: 40px;
    }

    .hero button {
      width: 50%;
      padding: 15px;
      font-size: 18px;
    }

    .hero button:hover .second {
      margin-right: 40px;
    }

    .hero button:hover .span {
      transform: skewX(10deg);
    }

    .hero button:hover .one,
    .hero button:hover .two {
      transform: translateX(0%);
      animation: color_anim 1s infinite;
    }
    
  }

/* media queries for mobile screens */
@media screen and (max-width: 600px) {
  .hero {
    padding: 0.5rem 2rem;
  }

  .hero h1 {
    font-size: 30px;
  }

  .hero button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .hero button:hover .second {
    margin-right: 30px;
  }

  .hero button:hover .span {
    transform: skewX(10deg);
  }

  .hero button:hover .one,
  .hero button:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite;
  }
}

/* media queries for large screens */
@media screen and (min-width: 1200px) {
  .hero {
    padding: 0.5rem 10rem;
  }

  .hero h1 {
    font-size: 60px;
  }

  .hero button {
    width: 40%;
  }

  .hero button:hover .second {
    margin-right: 60px;
  }
  
  .hero button:hover .span {
    transform: skewX(20deg);
  }
  
  .hero button:hover .one,
  .hero button:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite;
  }
}